html {
    width: 99.8%;
    height: 99.7%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    margin: 0px;

    background-color: black;
    font-family: "Golos text", monospace;
    color: var(--c-text);
}

.main {
    position: relative;
    width: 1500px; 
    height: 750px;
    border-radius: 10px;
    border: 1px solid white;
}
